/**
 *  Stylesheet voor de WEBS2 webshop.
 */

.container{
    font-family: 'Poppins', sans-serif;
}

div#banner{
    -webkit-background-image: url("../img/banner.jpg");
    -moz-background-image: url("../img/banner.jpg");
    -o-background-image: url("../img/banner.jpg");
    background-image: url("../img/banner.jpg");
    background-size: 100% 600px;
    background-position-y: -100px;
    height: 200px;
    overflow: hidden;
}

div#bannerCard{
    -webkit-background-image: url("../img/ster.png");
    -moz-background-image: url("../img/ster.png");
    -o-background-image: url("../img/ster.png");
    background-image: url("../img/ster.png");
    background-size: 40%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    float: left;
    padding: 35px;
    margin: 25px 0px 0px 25px;
    background-color: whitesmoke;
    border: 2px;
    border-color: #000;
    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
}

div#bannerCard #bannerTitle{
    text-transform: uppercase;
    font-weight: 900;
    font-size: xx-large;
    width: 100px;
    letter-spacing: 16px;
}

div#bannerCard #bannerSlang{
    text-transform: uppercase;
    color: gray;
}

div.pCard{
    height: 325px;
    padding: 12px;
    margin: 2px 0px 0px 2px;
    background-color: white;
    border-color: #000;
    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
}

div .pCard .pPicture img{
    float: left;
    position: absolute;
    height: 300px;
    width: 300px;
}

div .pCard .pPadding {
    padding-left: 325px;
    text-transform: uppercase;
    font-weight: bold;
}

div .pCard .pPadding hr {
    margin-top: 0px;
}

div .pCard .pPrice {
    float: right;
    margin: -60px 0px 0px 50%;
    font-size: 60px;
}

div .alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}

div .alert-box .information {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}